body {
  font-family: Arial;
  margin: 0;
  background: #333;
  color: white;
}

nav {
  background-color: #000000;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.btnNav {
  background: none;
  border: none;
  margin: 15px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.btnNav:hover {
  color: yellow;
  cursor: pointer;
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}

.pesquisa {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pesquisa input {
  width: 300px;
  padding: 10px;
  border: none;
  border-radius: 25px;
  outline: none;
  font-size: 15px;
}

#tituloPagina {
  text-align: center;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 10px;
}

.card {
  background: #111;
  width: 200px;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  border: none;
}

.card:hover {
  border: 2px solid #1768AC;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.card img {
  width: 120px;
  background-color: #bdbdbd;
  border-radius: 10px;
}

.card h2 {
  font-size: 15px;
}

.cabecalho {
  display: flex;
  width: 100%;
}

.esquerda {
  width: 50%;
  padding: 60px;
}

.direita {
  width: 50%;
  padding: 60px;
}

.direita p {
  text-align: justify;
}

.direita p:nth-child(1){
  margin: 0px;
}

.containerDireito {
  background-color: #464545;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.containerDireito h2{
  margin: 0px;
}

.esquerda img {
  width: 100%;
}

.adicionarFavoritos {
  width: 100%;
  height: 40px;
  background-color: #ffffff;
  border-radius: 5px;
  border: none;
  font-family: Arial;
}

.adicionarFavoritos:hover{
  background-color: #1768AC;
  color: #ffffff;
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 10px;
  margin-top: 10px;
}

input {
  width: 100%;
  height: 25px;
  border-radius: 5px;
  border: none;
}

textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

.reviews {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.reviews h1 {
  margin-left: 60px;
  margin-bottom: 0px;
}

.comentario {
  margin: 40px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: white;
  padding: 0px;
  margin: 0px;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popupConteudo {
  background: #1a1a1a;
  padding: 32px;
  border-radius: 12px;
  width: 1000px;
  position: relative;
  overflow-y: auto;
  max-height: 80vh; 
}

.popupEscondido {
  display: none;
}

.escondido {
  display: none;
}

#loading {
  text-align: center;
  font-size: 24px;
  padding: 32px;
  height: 100%;
  width: 100%;
  justify-content: center;
}

@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
  }
  .esquerda, .direita {
    width: 100%;
    padding: 20px;
  }
  .card {
    width: 150px;
  }
}